*{
  font-family: 微軟正黑體;
}
body{
  padding: 50px;
  display:flex;
  justify-content: center;
  background-color: #e3e36f;
  color: #4d287d;
  font-size:15px;
  line-height:22px;
  letter-spacing:1px;
}
.resume{
  display: flex;
  max-width: 950px;
  position: relative;
  border: solid 4px;
}  
.left, .right{
  padding: 15px;
}
.left{
  flex: 5;
}
.right{
  flex: 5;
  padding:150px;
}
ul{
  padding: 0px;
  list-style: none;
}
a{
  color: #4d287d;
}
h2{
  margin: 0px;
  margin-bottom: 25px;
}
h2::after{
  content:"";
  display: inline-block;
  width: 20px;
  height: 8px;
  background-color:  #43448f;
  margin-left: 10px;
}
h4{
  margin: 0px;
  margin-bottom: 40px;
}
p{
  text-align:justify;
}
.year li{
  margin-left: 20px;
  border-left: solid 1px #fff;
  padding-left: 10px;
}
hr{
  background-color: #43448f;
  border: 0px;
  height: 5px;
  width: 50%;
  display: relative;
  margin-left: 0px;
}
.decoration{
  width: 300px;
  height: 140px;
  background: linear-gradient(135deg,
  #825cad,#5dc8e3);
  border-radius: 70px 0px 0px 70px;
  position: absolute;
  right: 0px;
  top: 50px;
}
.circle{
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.p90, .p180, .p270, .p360{
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  background-color: #180;
}
.p180{
  left: 50%;
  top: 50%;
}
.p270{
  left: 0;
  top: 50%;
}
.p360{
  left: 0;
  top: 0;
}